@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-today{
    background: linear-gradient(0deg, rgba(63, 56, 73, 0.5), rgba(63, 56, 73, 0.5)),linear-gradient(0deg, #CBC5D3, #CBC5D3) !important;
}
.rbc-toolbar-label{
    font-size: 25px !important ;
}
.rbc-event{
    background: linear-gradient(0deg, #9D7AE8, #9D7AE8),
    linear-gradient(0deg, rgba(255, 198, 188, 0.9), rgba(255, 198, 188, 0.9)) !important;
}
.rbc-btn-group button{
    background: #FFEEEB !important;
    font-weight: 600;
}

.MuiInputBase-adornedEnd {
    display: flex;
    flex-direction: row-reverse;
  }
  .timepicker .MuiOutlinedInput-root {
    border: 2px solid #FFC6BC;
    border-radius: 16px;
    max-width: 157px;
  }
  .datepicker .MuiOutlinedInput-root {
    border: 2px solid #000;
    border-radius: 16px;
    max-width: 157px;
  }
  
  .timepicker .MuiInputAdornment-root svg {
    color: #FFC6BC;
  }

  .datepicker .MuiInputAdornment-root svg {
    color: #3F3849;
  }